# Core functionality - changes here should be rare!
/src/app.py                   @Mariam-Lawal5
/src/backend/database.py      @Mariam-Lawal5
/src/backend/routers/auth.py  @Mariam-Lawal5

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Mariam-Lawal5
